.side-drawer {
	height: 86%;
	background: white;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 8%;
	left: 0;
	width: 20%;
	max-width: 300px;
	z-index: 200;
}

.side-drawer_list {
	position: fixed;
	width: 100%;
}
.nav-link{
	text-decoration: none;
	color: black;
}
